<template>
    <div>
        <div
            class="main d-flex flex-column align-items-center text-center justify-content-center"
        >
            <div></div>
            <h1 class="text-center">Be Smart Take Card</h1>
            <p>
                So you have your new digital camera and clicking away to glory
                anything and everything in sight. Now you want to print then and
                you need.
            </p>
            <b-button id="mainButton">
                <b>Apply for Card</b>
            </b-button>
        </div>
        <div
            class="d-flex flex-column align-items-center text-center justify-content-center cardVisa"
        >
            <b-img
                :src="require('../assets/pa_grande_visa_open.png')"
                width="500"
            ></b-img>
        </div>

        <div class="mt-5 text-center">
            <h3 class="text-center">
                Get Your Card
            </h3>
            <p>
                Do you want to download three song for ipod? If so, read this
                article could have you from
            </p>
        </div>
        <b-container class="mb-5">
            <b-row>
                <b-col class="text-center pl-5 pr-5">
                    <b-avatar
                        class="mt-5"
                        variant="success"
                        icon="people-fill"
                        size="6rem"
                    ></b-avatar>
                    <h5 class="">Application Online</h5>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum has been the
                        industry's standard dummy text ever since the 1500s,
                    </p>
                </b-col>
                <b-col class="text-center pl-5 pr-5 cardShadow">
                    <b-avatar
                        class="mt-5"
                        variant="success"
                        icon="back"
                        size="6rem"
                    ></b-avatar>
                    <h5>Get An Approval</h5>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum has been the
                        industry's standard dummy text ever since the 1500s,
                    </p>
                </b-col>
                <b-col class="text-center pl-5 pr-5">
                    <b-avatar
                        class="mt-5"
                        variant="success"
                        icon="binoculars"
                        size="6rem"
                    ></b-avatar>

                    <h5>Card Delivery</h5>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum has been the
                        industry's standard dummy text ever since the 1500s,
                    </p>
                </b-col>
            </b-row>
        </b-container>
    </div>
</template>

<script>
export default {
    name: "HelloWorld",
    props: {
        msg: String,
    },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.main {
    min-height: 100vh;
    background-color: rgb(101, 62, 115) !important;
    background-color: linear-gradient(
        to right bottom,
        #1f67d4,
        #6150e4,
        #764199,
        #7e307a,
        #7c235d
    );
    color: white;
    border-radius: 0px 0px 205px 205px / 0px 0px 101px 88px;
}

#mainButton {
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: white !important;
    color: black !important;
    border-radius: 0px;
}

.cardVisa {
    position: relative;
    margin-top: -260px;
}

.cardShadow {
    box-shadow: 3px 42px 53px 0px rgba(0, 0, 0, 0.45);
    -webkit-box-shadow: 3px 42px 53px 0px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 3px 42px 53px 0px rgba(0, 0, 0, 0.45);
}
</style>
