<template>
    <div class="mt-5">
        <b-container>
            <b-row>
                <b-col>
                    <h1 class="text-center">Login</h1>
                </b-col>
            </b-row>
            <b-row>
                <b-col class="col-6 offset-3">
                    <b-form-group label="Correo:">
                        <b-form-input v-model="correo"></b-form-input>
                    </b-form-group>
                </b-col>
                <b-col class="col-6 offset-3 mt-3">
                    <b-form-group label="Contraseña:">
                        <b-form-input
                            type="password"
                            v-model="password"
                        ></b-form-input>
                    </b-form-group>
                </b-col>
                <b-col class="col-6 offset-3 mt-3">
                    <b-button @click="submit" variant="primary"
                        >SignIn</b-button
                    >
                </b-col>
            </b-row>
        </b-container>
    </div>
</template>

<script>
import axios from "axios";
export default {
    data() {
        return {
            correo: "blondell2811@gmail.com",
            password: "12345",
        };
    },

    methods: {
        submit() {
            axios({
                method: "post",
                url: "http://localhost:3000/users/login",
                data: {
                    email: this.correo,
                    password: this.password,
                },
            })
                .then(res => {
                    window.localStorage.token = res.data.body.token;
                    this.$router.push("/users");
                })
                .catch(e => {
                    console.error(e);
                });
        },
    },
};
</script>

<style></style>
