<template>
    <div>
        <b-container>
            <b-row>
                <b-col>
                    <h1 class="text-center mt-5">Nuevo Usuario</h1>
                </b-col>
            </b-row>
            <b-row>
                <b-col>
                    <b-button
                        class="mb-5"
                        variant="primary"
                        @click="$router.push('/users')"
                        >Regresar</b-button
                    >
                </b-col>
            </b-row>
            <b-row>
                <b-col>
                    <b-form-group label="Usuario">
                        <b-form-input v-model="username"></b-form-input>
                    </b-form-group>
                </b-col>
            </b-row>
            <b-row>
                <b-col>
                    <b-form-group label="Nombre">
                        <b-form-input v-model="first_name"></b-form-input>
                    </b-form-group>
                </b-col>
            </b-row>
            <b-row>
                <b-col>
                    <b-form-group label="Apellido">
                        <b-form-input v-model="last_name"></b-form-input>
                    </b-form-group>
                </b-col>
            </b-row>
            <b-row>
                <b-col>
                    <b-form-group label="Correo">
                        <b-form-input v-model="email"></b-form-input>
                    </b-form-group>
                </b-col>
            </b-row>
            <b-row>
                <b-col>
                    <b-form-group label="Contraseña">
                        <b-form-input v-model="password"></b-form-input>
                    </b-form-group>
                </b-col>
            </b-row>
            <b-row class="mt-4">
                <b-col>
                    <b-button @click="submit" variant="primary"
                        >Guardar</b-button
                    >
                </b-col>
            </b-row>
        </b-container>
    </div>
</template>

<script>
import axios from "axios";
export default {
    data() {
        return {
            username: "",
            first_name: "",
            last_name: "",
            email: "",
            password: "",
        };
    },

    methods: {
        submit() {
            axios({
                method: "post",
                url: "http://localhost:3000/users",
                data: {
                    username: this.username,
                    first_name: this.first_name,
                    last_name: this.last_name,
                    email: this.email,
                    password: this.password,
                },
            })
                .then(res => {
                    this.$router.push("/users");
                })
                .catch(e => {
                    console.error(e);
                });
        },
    },
};
</script>

<style></style>
