<template>
    <div>
        <b-container>
            <b-row>
                <b-col class="text-center mt-5">
                    <h1>Usuarios</h1>
                </b-col>
            </b-row>
            <b-row>
                <b-col>
                    <b-button
                        variant="primary"
                        @click="$router.push('/new_user')"
                        >Nuevo usuario</b-button
                    >
                </b-col>
            </b-row>
            <b-row>
                <b-col>
                    <b-table responsive :items="users" :fields="fields">
                        <template #cell(acción)="data">
                            <b-button
                                :disabled="
                                    data.item._id == '60df640eb0f89787a1bdd171'
                                        ? true
                                        : false
                                "
                                variant="danger"
                                @click="eliminarUsuario(data.item._id)"
                                >Eliminar</b-button
                            >
                        </template>
                    </b-table>
                </b-col>
            </b-row>
        </b-container>
    </div>
</template>

<script>
import axios from "axios";
export default {
    data() {
        return {
            users: [],
            fields: [
                "_id",
                "username",
                {
                    key: "first_name",
                    label: "Nombre",
                },
                {
                    key: "last_name",
                    label: "Apellido",
                },
                "email",
                "acción",
            ],
        };
    },

    methods: {
        getUsers() {
            axios({
                method: "get",
                url: "http://localhost:3000/users",
            })
                .then(res => {
                    this.users = res.data.body;
                    console.log(res);
                })
                .catch(e => {
                    console.error(e);
                });
        },

        eliminarUsuario(id) {
            axios({
                method: "delete",
                url: "http://localhost:3000/users/" + id,
            })
                .then(res => {
                    this.getUsers();
                    console.log(res);
                })
                .catch(e => {
                    console.error(e);
                });
        },
    },

    mounted() {
        this.getUsers();
    },
};
</script>

<style></style>
